.m-form {
    width: 100%;
    & > label {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 8px;
    }
    & > label > input {
        width: 30%;
        padding: 8px;
        border: 1px solid black;
        border-radius: 4px;
        margin-bottom: 16px;
        margin-top: 8px;
    }
    & > button {
        padding: 8px;
        border: 1px solid black;
        border-radius: 4px;
        background: none;
        &:hover {
        cursor: pointer;
        }
    }
}